.offcanvas-top {
    position: relative;
    padding: 20px;
}

.offcanvas-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-pills-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Adjust the gap between the pills as needed */
    flex-wrap: nowrap;
    /* Prevents wrapping */
    width: 100%;
    /* Ensures full width for centering */
    overflow: hidden;
    /* Prevents overflow of content */
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's width */
}

.location-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.back-dog-info-pills {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-dog-breed-pill,
.back-dog-age-pill,
.back-dog-sex-pill {
    color: white;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px;
    font-size: 13px;
    display: inline-block;
}

.back-dog-breed-pill {
    background-color: tan;
}

.back-dog-age-pill {
    background-color: slategrey;
}

.back-dog-sex-pill {
    background-color: steelblue;
    font-size: 12px;
}

/* Optional: Additional CSS for responsiveness */
@media (max-width: 600px) {
    .back-pills-line {
        flex-direction: column;
        align-items: flex-start;
    }

    .location-info {
        margin-top: 10px;
        /* Adjust spacing as needed */
    }
}

.back-dog-breed-pill:hover,
.back-dog-age-pill:hover,
.back-dog-sex-pill:hover,
.location-info:hover {
    transform: translateY(-2px);
    cursor: default;
}