@media (min-width: 1025px) {
    .h-custom {
    height: 125vh !important;
    }
    }

    .image-preview {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; 
    }
    
    .img-preview {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
    }
    
    .placeholder-preview {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px dashed #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #aaa;
    }
    
    .image-preview button {
        position: absolute;
        top: 0px;
        right: 0;
        margin: 5px;
        padding: 0.5rem;
        background-color: red;
        border: none;
        color: white;
        font-size: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .image-preview button:hover {
        background-color: darkred;
    }
    
    input[type="file"] {
        display: none;
    }
    
    label.btn-primary {
        display: inline-block;
        background-color: #72bfed;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        font-weight: 500;
        border: none;
    } 

*/.dog_color{

    background-color: 	#88cafc;
}

@media (min-width: 576px) {
    .btn-primary-sm {
      text-align: center;
    }
  }


.chat {
    background-color: blueviolet;
}

.ce-settings-column, .ce-chat-settings-mobile-option {
    display: none;
}

.ce-chat-engine {
    background-color: unset !important;
}

.ce-settings-column {
    width: 1% !important;
    flex: 0 0 1% !important;
    max-width: 1% !important;
}

.ce-chat-feed-column {
    width: 75% !important;
    flex: 0 0 75% !important;
    max-width: 75% !important;
}

.ce-chat-list {
    font-family: var(--bs-body-font-family) !important;
}

.ce-message-bubble, .ce-active-chat-card{
    background-color: rgb(79, 155, 197) !important;
}