/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.sidebar {
    position:fixed;
    width: 200px;
    z-index: 1000;
    left: 0;
    top: 0;
    border-right: 1px solid #162636;
    height: 100%;
  }