/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.sidebar {
    position:fixed;
    width: 200px;
    z-index: 1000;
    left: 0;
    top: 0;
    border-right: 1px solid #162636;
    height: 100%;
  }

  .offcanvas {
    width: 320px;
  }

#discover {
    cursor: pointer;
    text-decoration: none; 
    font-size: 20px;
}
#messages{
    cursor: pointer;
    text-decoration: none; 
    font-size: 20px;
}
#notifications{
    padding: 0px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none; 

}


.selected {
   /*  box-shadow: 0 0 50px 15px red; */
    cursor: pointer;
    background-color: steelblue;
    color: blue;
    border: 1px slateblue solid;
    border-radius: 5px;
    padding: 5px;
}