/* General Styles used on every website (Don't Repeat Yourself) */
.sidebar {
    position: fixed;
    width: 200px;
    z-index: 1000;
    left: 0;
    top: 0;
    border-right: 1px solid #162636;
    height: 100%;
}

#offcanvasScrolling1{
    width: 320px;
}

#offcanvasScrolling2{
    height: 100%;
}

#discover, #messages, #notifications {
    cursor: pointer;
    text-decoration: none; 
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 1px black solid;
    padding: 5px 15px 5px 15px;
}

#discover:hover, #messages:hover,
#notifications:hover {
    background: radial-gradient(circle, rgba(79,155,197,1) 0%, rgba(76,140,172,1) 100%);
  box-shadow: 0px 15px 20px rgb(79,155,197);
  color: #fff;
  transform: translateY(-7px);
  padding: 5px 15px 5px 15px;
  font-size: 18px;
}

/* #discover:focus, #messages:focus,
#notifications:focus {
  background: radial-gradient(circle, rgba(79,155,197,1) 0%, rgba(76,140,172,1) 100%);
  box-shadow: 0px 15px 20px rgb(79,155,197);
  color: #fff;
  transform: translateY(-7px);
  padding: 5px 15px 5px 15px;
  font-size: 18px;
} */

a {
    color: black;
}

a:hover {
    color: black;
}

.selected {
    cursor: pointer;
    border: 1px slateblue solid;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none; 
}

.profile-card {
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    width: 25rem;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.80) 25%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 1; /* Gradient layer */
}

.profile-card .justify-content-center {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    z-index: 2; 
}

.profile-card .fa {
    color: white;
    background-color: transparent; 
}


#close{
    border-radius: 80%;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-left: 20px;
    border: 1px solid rgb(220, 53, 69);
    outline-style: solid;
    background-color: rgb(220, 53, 69);
    outline: rgb(220, 53, 69) solid;
    margin-top: 5px;
    font-size: 40px;
}

#close:hover {
    cursor: pointer;
    color: rgb(220, 53, 69);
    background-color: white;
    transform: translateY(-7px);
}

#like{
    border-radius: 80%;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-right: 20px;
    border: 1px solid rgb(25, 135, 84);
    outline-style: solid;
    background-color: rgb(25, 135, 84);
    outline: rgb(25, 135, 84) solid;
    margin-top: 5px;
    font-size: 40px;
}

#like:hover {
    cursor: pointer;
    color: rgb(25, 135, 84);
    background-color: white;
    transform: translateY(-7px);
}

#reverse{
    border-radius: 80%;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-left: 25px;
    border: 1px solid rgb(255, 193, 7);
    outline-style: solid;
    background-color: rgb(255, 193, 7);
    outline: rgb(255, 193, 7)solid;
    margin-top: 5px;
    font-size: 40px;
}

#reverse:hover {
    cursor: pointer;
    color: rgb(255, 193, 7);
    background-color: white;
    transform: translateY(-7px);
}

.names {
    color: white;
    position: absolute; /* Ensure it overlays correctly */
    bottom: 120px; /* Adjust position as needed */
    left: 15px; /* Adjust position as needed */
    z-index: 2;
    margin: 0;
}

.sub-name{
    color: white;
    position: absolute; /* Ensure it overlays correctly */
    bottom: 100px; /* Adjust position as needed */
    left: 40px; /* Adjust position as needed */
    z-index: 2;
    margin: 0;
}

.breed-pill{
    color: white;
    position: absolute; /* Ensure it overlays correctly */
    bottom: 70px; /* Adjust position as needed */
    left: 10px; /* Adjust position as needed */
    z-index: 2;
    margin: 0;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
}

.dog-age-pill {
    color: white;
    position: absolute; /* Ensure it overlays correctly */
    bottom: 70px; /* Adjust position as needed */
    left: 80px; /* Adjust position as needed */
    z-index: 2;
    margin: 0;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
}


#view-info {
    color: white;
    background-color: none;
    border: black;
    position: absolute;
    bottom: 7px;
    right: 10px;
    z-index: 2;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 28px;
}

#view-info:hover {
    color: white;
    background-color: none;
    border: black;
    position: absolute;
    z-index: 2;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    transform: translateY(-7px);
    cursor: pointer;
}
