#view-info {
    color: white;
    background-color: none;
    border: black;
    position: absolute;
    bottom: 7px;
    right: 10px;
    z-index: 2;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 28px;
}

#view-info:hover {
    color: white;
    background-color: none;
    border: black;
    position: absolute;
    z-index: 2;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    transform: translateY(-7px);
    cursor: pointer;
}

#view-info-close{
    color: rgb(220, 53, 69);
    font-size: 30px;
    position: relative;
    top: 460px;
    right: 8px;
    bottom: 10px;
    z-index: 3;
}

#view-info-close:hover {
    cursor: pointer;
    font-size: 35px;
    z-index: 3;
}

.dog-pill-info-breed {
    color: white;
    margin: 0;
    border: 1px solid black;
    border-radius: 45px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    position: absolute;
    right: 254px;
    top: 28px;
    background-color:tan;
}
.dog-pill-info-age {
    color: white;
    margin: 0;
    border: 1px solid black;
    border-radius: 45px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    position: absolute;
    right: 216px;
    top: 28px;
    background-color:slategrey
}

.dog-pill-info-male {
    color: white;
    margin: 0;
    border: 1px solid black;
    border-radius: 45px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    position: absolute;
    right: 162px;
    top: 28px;
    background-color: steelblue;
}

.dog-pill-info-female {
    color: white;
    margin: 0;
    border: 1px solid black;
    border-radius: 45px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
    position: absolute;
    right: 147px;
    top: 28px;
    background-color: violet;
}

.dog-pill-info-breed:hover {
    transform: translateY(-2px);
    cursor: default;
}

.dog-pill-info-age:hover {
    transform: translateY(-2px);
    cursor: default;
}


.dog-pill-info-male:hover {
    transform: translateY(-2px);
    cursor: default;
}

.dog-pill-info-female:hover {
    transform: translateY(-2px);
    cursor: default;

}

.sub-name-info{
    color: black;
    font-style: italic;
    position: absolute;
    top: 50px;
    right: 320px;
}
