@import url(https://db.onlinewebfonts.com/c/dfdce831a4653f2f7285115e418cde5b?family=AmberlySans-Bold);
.profile-card {
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    width: 27rem;
}

.cpi{
    z-index: 3;
    height: 88%;
}


.top-indicators {
    top: 10px; 
    bottom: auto;
  }
  

.card-img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.80) 25%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 1; /* Gradient layer */
}
.profile-card-match::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.80) 25%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 1; /* Gradient layer */
}

.profile-card .justify-content-center {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    z-index: 2; 
}

.profile-card .fa {
    color: white;
    background-color: transparent; 
}


#close{
    border-radius: 80%;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-left: 20px;
    border: 1px solid rgb(220, 53, 69);
    outline-style: solid;
    background-color: rgb(220, 53, 69);
    outline: rgb(220, 53, 69) solid;
    margin-top: 5px;
    font-size: 40px;
}

#close:hover {
    cursor: pointer;
    color: rgb(220, 53, 69);
    background-color: white;
    transform: translateY(-7px);
}

#like{
    border-radius: 80%;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-right: 20px;
    border: 1px solid rgb(25, 135, 84);
    outline-style: solid;
    background-color: rgb(25, 135, 84);
    outline: rgb(25, 135, 84) solid;
    margin-top: 5px;
    font-size: 40px;
}

#like:hover {
    cursor: pointer;
    color: rgb(25, 135, 84);
    background-color: white;
    transform: translateY(-7px);
}

#reverse{
    border-radius: 80%;
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-left: 25px;
    border: 1px solid rgb(255, 193, 7);
    outline-style: solid;
    background-color: rgb(255, 193, 7);
    outline: rgb(255, 193, 7)solid;
    margin-top: 5px;
    font-size: 40px;
}

#reverse:hover {
    cursor: pointer;
    color: rgb(255, 193, 7);
    background-color: white;
    transform: translateY(-7px);
}

.front-card-names{
    position: absolute;
    bottom: 110px;
    left: 25px;
    display: flex;
    gap: 6px;
}
.front-dog-name {
    color: white;
    position: relative; 
    z-index: 2;
    margin: 0;
    font-size: 40px;
}

.front-owner-name{
    color: white;
    position: relative; 
    z-index: 2;
    margin: 0;
    font-style: italic;
    top: 20px;
    font-size: 20px;
}

.front-dog-info-pills{
    position: absolute;
    bottom: 75px;
    left: 15px;
    justify-content: space-between;
    display: flex;
}


.front-dog-breed-pill{
    color: white;
    position: relative;
    margin: 0;
    z-index: 2;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    background-color:tan;
}

.front-dog-age-pill {
    color: white;
    position: relative;
    margin: 0;
    z-index: 2;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    background-color:slategrey;
    margin-right: 5px;
    margin-left: 5px;
}

.front-dog-sex-pill {
    color: white;
    position: relative;
    margin: 0;
    z-index: 2;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    background-color: steelblue;
}

.front-dog-breed-pill:hover, .front-dog-age-pill:hover, .front-dog-sex-pill:hover  {
    transform: translateY(-2px);
    cursor: default;
}

