@import url(https://db.onlinewebfonts.com/c/dfdce831a4653f2f7285115e418cde5b?family=AmberlySans-Bold);
#offcanvasScrolling2 {
    height: 45%;
}


#offcanvasScrolling2{
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: #1b1b1c;
  }
  
  #offcanvasScrolling2.show {
    transform: translateY(0);
    opacity: 1;
  }
  
  #offcanvasScrolling2:not(.show) {
    transform: translateY(100%);
    opacity: 0;
  }
  
 /*  .offcanvas-backdrop {
    transition: opacity 0.3s ease-in-out;
  } */
  

#view-info {
    color: white;
    background-color: none;
    border: black;
    position: absolute;
    bottom: 1px;
    right: 10px;
    z-index: 2;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
}

#view-info:hover {
    color: white;
    background-color: none;
    border: black;
    position: absolute;
    z-index: 2;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    transform: translateY(-2px);
    cursor: pointer;
}

#view-info-close {
    color: rgb(220, 53, 69);
    position: absolute;
    font-size: 30px;
    top: 260px;
    right: 20px;
    bottom: 10px;
    z-index: 3;
}

#view-info-close:hover {
    cursor: pointer;
    z-index: 3;
    font-size: 33px;
    transform: translateY(-2px);
}


.back-card-names{
    position: absolute;
    top: 65px;
    left: 50px;
    z-index: 2;
}

.back-dog-and-owner-name {
    color: white;
    position: relative; 
    z-index: 2;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    top: 13px;
    left: 40px;
}

.back-pills-line{
    position: absolute;
    top: 35px;
    bottom: 1px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the pills horizontally */
    gap: 2px; /* Adjust the gap between the pills as needed */
}

.back-dog-info-pills{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px; 
}


.back-dog-breed-pill{
    color: white;
    position: relative;
    z-index: 2;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px;
    font-size: 13px;
    background-color:tan;
}

.back-dog-age-pill {
    color: white;
    position: relative;
    z-index: 2;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px;
    font-size: 13px;
    background-color:slategrey;
}

.back-dog-sex-pill {
    color: white;
    position: relative;
    z-index: 2;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px;
    font-size: 12px;
    background-color: steelblue;
}

.back-dog-breed-pill:hover,.back-dog-age-pill:hover, .back-dog-sex-pill:hover,.location-info:hover{
    transform: translateY(-2px);
    cursor: default;
}

.location-info{
    position: relative;
    display: flex;
    background-color: black;
    border: 1px white solid;
    border-radius: 50px;
    padding: 5px 15px;
    margin-bottom: 6px;
    margin-left: 5px;
    overflow: scroll;
    top: 3px;
}



.location-info > i{
    color: rgb(220, 53, 69);
    position: relative;
    top: 1px;
    right: 5px;
    justify-content: space-between;
}

.location-info > p {
    position: relative;
    font-size: 10px;
    color: white;
    margin: 0;
}

.offcanvas-top {
    height: 30%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7161458333333333) 58%);
    border: none;
}

.traits-pills{
    position: absolute;
    bottom: 10px;
    left: 30px;
    justify-content: space-between;
    display: flex;
    left: 83px;
}
.trait-pill1 {
    color: white;
    margin: 0;
    border: 1px solid white;
    border-radius: 45px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    position: relative;
    background-color:yellowgreen;
}

.trait-pill2 {
    color: white;
    margin: 0;
    border: 1px solid white;
    border-radius: 45px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    position: relative;
    background-color:blueviolet;
    margin: 0px 5px;
}

.trait-pill3 {
    color: white;
    margin: 0;
    border: 1px solid white;
    border-radius: 45px;
    padding: 5px 15px 5px 15px;
    font-size: 13px;
    position: relative;
    background-color:tomato;
}

.trait-pill1:hover, .trait-pill2:hover, .trait-pill3:hover{
    transform: translateY(-2px);
    cursor: default;
}

.bio {
    position: absolute;
    bottom: 60px;
    width: 90%;
}